.home {
    height: 600px;
    background-color: #f5cac3;
  }
  .about {
    height: 600px;
    background-color: #d8f3dc;
  }
  .contact {
    height: 600px;
    background-color: #ffc6ff;
  }
  .countries {
    height: 600px;
    background-color: #ffc6ff;
  }