.home {
    height: 70vh;
    background: url('../../assests/home-img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

     .homecontainer {
       &__text {
         text-align: center;

             &-title {
              color: #ffa822;
              font-size: 2rem;
              font-weight: 700;
              line-height: 2.5rem;
             }

             &-subtitle {
              color: #264653;
              opacity: .9;
              font-size: 13px;
              font-weight: 300;
              padding: 1rem 0; 
              max-width: 60%;
              text-align: center;
              margin: auto;
            }
            &-btn {
                padding: .6rem 1.5rem;
            }
       }  
    }
}