* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}
.navbar {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;

    .logo {
      cursor: pointer;
      font-size: 20px;
      margin-left: 10px;
    }

    .nav__links {
      list-style: none;

      li {
        display: inline-block;
        padding: 8px 20px;
        transition: all 0.3s ease 0s;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #ecf0f1;
        text-decoration: none;

        li:hover {
          color: #0088a9;
        }
      }
    }
  }
}
